<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=voting;User ID=root;Password=root" name="host" />
    </connectionStrings>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
